[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-logging = "2.2.0"
requests = "*"

[dev-packages]
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.11"
