[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-logging = ">=3.0.0"
Flask = "*"
networkx = "*"

[dev-packages]
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.9"
